<section class="background"></section>
<section id="main">

  <!-- Section-1: Introduction -->
  <section id="section-1" class="section">
    <div class="container" style="text-align: center; margin-bottom:25px;">
      <h2>Now you can help translate DashboardX!</h2>
    </div>
    <div class="container">
      <div class="flex" style="justify-content: center;">
        <a class="button primary" href="{{ start_url }}">Start Localizing Now</a>
        <span>or</span>
        <a class="button" href="{% url 'pontoon.translate.locale.agnostic' 'tutorial' 'playground' %}">Take a Tour</a>
      </div>
    </div>
    <div class="footer">
      <a href="#section-2" class="scroll">Learn more</a>
    </div>
  </section>

  <!-- Section-3: Path to contribution -->
  <section id="section-3" class="section">
    <div class="container">
      <div class="content-wrapper flex-col-2 flex-direction-col">
        <h2>This is how it works.</h2>
        <p>
          Pontoon is a simple and intuitive tool that requires little technical skills to use it.
          Each language has its own team of localizers.
          Join one, find a project you'd like to contribute to, and you're ready to start contributing!
        </p>
      </div>
      <div class="flex-col-2 flex">
        <div class="timeline"></div>
        <ol>
          <li class="first">Pick your team and project</li>
          <li class="second">Submit a suggestion</li>
          <li class="third">Have it approved by a trusted localizer</li>
          <li class="flex">
            <div class="checkmark fa fa-check"></div>
            <p>Show it to your friends as it lands in product</p>
          </li>
        </ol>
      </div>
      <div class="footer flex" style="position: absolute; bottom: 0; left: 0; right: 0; text-align: center;">
        <p style="max-width: 700px; font-size: 13px; line-height: normal; margin-bottom: 10px;">
          Pontoon is a translation management system used and developed by the Mozilla localization community.
          It specializes in open source localization that is driven by the community and uses version-control systems
          for storing translations.</p>
      </div>
    </div>
  </section>

</section>
